### 1. 조건문
- 특정 조건에 따라서 코드를 실행하고자 할 때 사용

In [14]:
# 조건부분에 : boolean 이외의 타입이 오면 bool 형변환 되어 판단

if False:
    print("python")

print("done")
print("")

if 1:
    print("python")

print("done")
print("")

if 2:
    print("python")

print("done")
print("")

if 0:
    print("python")

print("done")
print("")

done

python
done

python
done

done

In [26]:
import random
number = random.randint(1, 100);
print("num", number)
if number % 2 :
    print("odd")
else : print("even")

num 77
odd

In [31]:
# 지갑에 돈이 만원이상 있으면 택시를 타고, 2000원 이상이 있으면 버스를, 아니면 걸어서 간다
wallet =  random.randint(1, 20000);
print("num", wallet, "\n")

if wallet >= 10000 :
    print("texi")
elif wallet >= 2000 :
    print("bus")
else: 
    print("walk")

num 4467

bus

In [ ]:
# 계좌에 10000 원이 있고, 인출 금액을 입력받았을 때 인출금액이 계좌에 있는 금액보다 크면 "인출이 불가합니다" 출력
# 작으면 "인출되었습니다" 출력
# 마지막에 현재 계좌의 잔액을 출력

In [40]:
account = 10000
out = int(input("인출금액::"))
if out <= account :
    account -= int(out)
    print("{data1} 원이 인출되었습니다. 잔액은 {data2} 입니다".format(data1=out, data2=account))
else : 
    print("인출이 불가합니다")
print("현재잔액은 {data2} 원 입니다".format(data2=account))

인출금액::123
123 원이 인출되었습니다. 잔액은 9877 입니다
현재잔액은 9877 원 입니다

### 삼항연산자
- 간단한 if, else구문 처리

In [50]:
# data 변수가 0이면 "zero"출력 아니면 "not zero"
data = 0
if data:
    print("not zero")
else: 
    print("zero")
    
print("not zero" if data else "zero")

zero
zero

### 2. 반복문
- while, for, break, continue
- list comprehention

In [54]:
# while

data = 3

while data:
    print(data)
    data += data
    if data > 100 : break;

3
6
12
24
48
96

In [66]:
# 학생이 국어 80, 수학 100, 영어 90
pointOr = [80, 100, 90]
point = pointOr.copy()
sum = 0
idx = 0
while idx < len(point):
    sum += point[idx]
    idx += 1
    
print(sum)
print(sum/len(point))

point = pointOr.copy()
sum = 0
length = len(point)
while point:
    sum += point.pop()
    idx += 1
    
print(sum)
print(sum/length)

270
90.0
270
90.0

### for
- iterable 한 데이터 하나씩 꺼내서 value 
- for var in collection

### continue
- 중간에 continue 만나면 아래 코드를 제끼고 다음 index 건으로 이동

In [69]:
ls = [0 , 1 , 2, 3, 4, 100]
for data in ls:
    if data % 2 : continue # 짝수만 출력
    print(data)

0
2
4
100

In [75]:
## for 문의 횟수를 정해주는것
# range

#list(range(100))

result = 0
for data in range(2, 5): #range에 오프셋 사용가능
        result = ls[data]
        print(result)

print(type(range(3)))

2
3
4
<class 'range'>

In [95]:
points_dic = {"korea" : 80, "eng" : 90, "math" : 100}
keys = list(points_dic.keys())
items = list(points_dic.items())

TypeError: 'tuple' object is not callable

In [96]:
for subject, point in items : ## 내부 변수가 튜플이면 여러개의 변수로 받을 수 있음
    print("subject::", subject)
    print("point::", point)

subject:: korea
point:: 80
subject:: eng
point:: 90
subject:: math
point:: 100

In [116]:
## 구구단
for i in range(1, 10):
    a = ""
    for j in range(2, 10):
         print("{}*{}={}".format(j,i,i*j), end ="\t")
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81