In [1]:
arr = np.array([1,2,3])
type(arr)

numpy.ndarray

In [14]:
a = np.arange(6)

In [37]:
a = a.reshape(3,2)

a[ a > 2]

array([3, 4, 5])

In [36]:
b

array([3, 4, 5])

In [47]:
c = pd.DataFrame(b)
c.loc[[0,2]]

   0
0  3
2  5