### 생성자
- 클래스가 객체로 생성될때 실행되는 함수
- 변수 추가할때 사용

In [17]:
class Calculator:
# 생성자함수
    def __init__(self, num1, num2 = 10):
        self.num1 = num1
        self.num2 = num2
    def plus(self):
        return self.num1 + self.num2
    def minus(self):
        return self.num1 - self.num2

In [18]:
cal = Calculator(3, 4)
cal.plus()

7

In [19]:
cal = Calculator(3)
cal.plus()

13

In [24]:
# join
ls = ["pythons", "is", "good"]
print(" ".join(ls))

pythons is good

In [25]:
print("-".join(ls))

pythons-is-good

In [29]:
## pandas dataframe
import pandas as pd
df = pd.DataFrame([
    {"name":"jin", "age" :"20"},
    {"name":"andy", "age" :"24"}
])

In [30]:
df

   name age
0   jin  20
1  andy  24

In [33]:
df.at_time

<bound method NDFrame.at_time of    name age
0   jin  20
1  andy  24>

In [73]:
user_datas = [
    {"id" : "test", "pw" : "1234", "count" : 0},
    {"id" : "python", "pw" : "5678", "count" : 0}
]

In [74]:
def need_login(func):
    def wrapper(*arg, **kwargs):
        #아이디 패스워드 확인
        id = input("아이디를 입력하세요: ")
        pw = input("패스워드를 입력하세요: ")
        flag = False
        for data in user_datas :
            if data["id"] == id :
                flag = True
                if data["pw"] == pw :
                    data["count"] += 1
                    print(func(*arg, **kwargs))
                    break;
                else : 
                    print("비밀번호가 일치하지 않습니다")
                    
        if flag == False:
            print("존재하지 않는 아이디 입니다")
    return wrapper
            
@need_login
def plus(num1, num2):
    return num1 + num2

In [79]:
plus(3, 5)

아이디를 입력하세요: python
패스워드를 입력하세요: 5678
8

In [80]:
user_datas

[{'id': 'test', 'pw': '1234', 'count': 2},
 {'id': 'python', 'pw': '5678', 'count': 1}]

In [190]:
import random
# 스타크래프트 마린
class Marin :
    def __init__(self, hp = 40, ap = 5, name = "marin" + str(random.randint(1, 1000))) :
        self.hp = hp
        self.ap = ap
        self.name = name
    def attack(self, target):
        if(target.hp == 0):
            print("{name} 이(가) 이미사망하였습니다".format(name = target.name))
        else:
            minus = 0
            if target.hp >= self.ap :
                minus = self.ap
            else :
                minus = target.hp
            target.hp -= minus
            print("체력 {po} 이 깎였습니다. 현재 체력은 {now} 입니다".format(po = minus, now = target.hp))
            if target.hp == 0 :
                print("{name} 이(가) 사망하였습니다".format(name = target.name))

In [192]:
marin1 = Marin(40, 5)
marin2 = Marin(40, 5)

In [201]:
marin1.attack(marin2)

marin776 이(가) 이미사망하였습니다

In [164]:
print(marin1.hp, marin2.hp)

40 35

In [206]:
 # 스타크래프트 매딕
class Medic :
    def __init__(self, hp = 40, heal = 5):
        self.hp = hp
        self.heal = heal
    def healing(self, target):
        target.hp += self.heal

In [207]:
medic1 = Medic()

In [208]:
medic1.healing(marin2)

In [209]:
print(marin2.hp)

5

### 1. 상속
- 클래스의 기능을 가져다가 기능을 수정하거나 추가할때 사용하는 방법

In [214]:
class Calculator:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
        
    def plus(self):
        return self.num1 + self.num2

In [216]:
cal = Calculator(1, 2)
cal.plus()

3

In [221]:
## 상속 : class(parent class)
class Calculator2(Calculator):
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
    
    ###매서드오버라이드 - plus
    def plus(self):
        return self.num1**2 + self.num2**2
    
    def minus(self):
        return self.num1 - self.num2

In [222]:
cal2 = Calculator2(2, 3)
cal2.plus(), cal2.minus()

(13, -1)

In [223]:
# 연습문제 : 아이폰 만들기
# 1 - calling
# 2 - send msg
# 3 - internet

class iphone1:
    def calling(self):
        print("calling")
        
class iphone2(iphone1):
    def send_msg(self):
        print("send_msg")

class iphone3(iphone2):
    def internet(slef):
        print("internet")

In [224]:
i3 = iphone3()
i3.calling()

calling

In [228]:
class Galaxy:
    def show_img(self):
        print("show_img")

In [229]:
class DssPhone(iphone3, Galaxy): ## 다중상속 가능함
    def camera(self):
        print("camera")

In [232]:
dss = DssPhone()
dss.calling(), dss.send_msg(), dss.camera()

calling
send_msg
camera

(None, None, None)